# Interpreter and Compiler

We generally write a computer program using a high-level language. A high-level language is one which is understandable by us humans. It contains words and phrases from the English (or other) language. But a computer does not understand high-level language. It only understands program written in 0's and 1's in binary, called the machine code. A program written in high-level language is called a source code. We need to convert the source code into machine code and this is accomplished by compilers and interpreters. Hence, a compiler or an interpreter is a program that converts program written in high-level language into machine code understood by the computer.

The difference between an interpreter and a compiler is given below:

![Interpeter](Untitled.jpg)

# Data Types
Data types are nothing but variables you use to reserve some space in memory. Python variables do not need an
explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a
variable.

In [ ]:
# JAVA or C++
int a =10 #java or c++
String s="python"

In [79]:
a=101
print (a)
a="python"
print(a)

101
python

In [80]:
b=10.0
print (b)

10.0

In [81]:
s="python"
print (s)

python

In [ ]:
from sys import getsizeof
s='python'
print (s)
abc="javascript"
s=abc
print (s)
print(getsizeof(s))

In [82]:
s=True
print (s)

True

In [83]:
s=False
print (s)

False

In [ ]:
x=233
y=2
z=23
# a=2337?

![Interpeter](Reference.jpg)

In [ ]:
import ctypes
my_var = 10
my_var1 = 10
my_var_address = id(my_var)
ctypes.c_long.from_address(my_var_address).value

#### Assignment Operator
It always works frol Right hand side to Left hand side

In [84]:
x=10
print(x)

10

In [85]:
a=10
a=a+10+30
print (a)

50

In [86]:
a=30
b=10
a=b+20+a+40
print(a)

100

In [87]:
a=b=c=10 
print(a)
print(b)
print(c)

10
10
10

## Type operator
It returnes the type of a variable

In [88]:
a=100
print(type(a))

<class 'int'>

In [89]:
j=10.00
print (type (j))

<class 'float'>

In [90]:
s="python"
print (type(s))

<class 'str'>

In [91]:
s1='pyth'
print (type(s1))

<class 'str'>

In [92]:
x= True
print (type(x))
y= False
print (type(y))

<class 'bool'>
<class 'bool'>

In [93]:
k='10'
print (type(k))
print (k)

<class 'str'>
10

In [94]:
a='a123'
a
type(a)

str

In [95]:
boo2= "False"
print (type(boo2))

<class 'str'>

### ID Operator
Returns the address of a variable

In [96]:
a=10
print (id(a))

140708406727776

In [97]:
b=10
print (id(b))

140708406727776

In [98]:
c=11
print (id(c))

140708406727808

In [99]:
k=10
print (id(k))

140708406727776

In [100]:
l=11
print (id(l))
m=l   #m=11
print(id(m))

140708406727808
140708406727808

## IS Operator
Is operator-- If id is same for 2 variable it will return the true othewise false

In [101]:
a=10
print (id(a))
b=10
print (id(b))
print (a is b)

140708406727776
140708406727776
True

In [102]:
i=10
print (id(i))
j=11
print (id(j))
print (i is j)

140708406727776
140708406727808
False

In [103]:
l=10
k=10.0
m='10'
print (l is k)
print (l is m)

False
False

In [104]:
p="python"
q="Python"
r="python"
print (p is q)
print (p is r)

False
True

### == Operator
== operator - numeric values are same or not

In [105]:
i=10
j=10
print (i==j)

True

In [106]:
i=10
j=10.0
print ("Comparison operator ",i==j)
print ("IS operator", i is j)

Comparison operator  True
IS operator False

In [107]:
i=10
j=10.1
print (i==j)

False

In [108]:
i='10'
j=10
print (i==j)

False

In [109]:
s1="python"
s2="Python" # case sensitive
s3="Python" # case sensitive
print (s1 == s2)
print (s3 == s2)

False
True

### Swapping values of 2  Variable

a=10
b=20

after execution
a=20
b=10

##### Write a program to swap values of a and b
So after execution of program a should be 20
and b =10

In [ ]:
a=10
b=20
c=a # c=10
a=b  # a=20
b=c  # b=10
print(a)
print(b)# this is to explain the swapping

In [ ]:
a=id(b)
a

With out using 3rd variable

In [ ]:
a=10
b=20
a=a+b    # a=10+20=30
b=a-b    # b=30-20=10
a=a-b    # a= 30-10=20
print("value of a :",a)
print("Value of b : ",b)

### Comma operator

In [110]:
print("python learning")

python learning

In [112]:
a=100
print("Value of a is  ",a)
print(a)

Value of a is   100
100

In [113]:
a,b=10,200
print("value of a ",a)
print ("value of b ", b)

value of a  10
value of b  200

In [114]:
a,b,c=10,20,100
print("value of a ",a)
print ("value of b", b)
print ("value of c", c)

value of a  10
value of b 20
value of c 100

#### Swapping values again

In [115]:
a=10
b=33
a,b = b,a  # a,b = 33,10
print("value of a ",a)
print ("value of b", b)#

value of a  33
value of b 10

## Plus operator
![Interpeter](plusoperator.png)

In [116]:
print (10+20)

30

In [117]:
print (10+20.0)

30.0

In [118]:
print (10.0+20.0)

30.0

In [119]:
print ("Python"+" Scala")

Python Scala

In [120]:
print ("Python"+10)

TypeError: can only concatenate str (not "int") to str

In [121]:
print ("Python"+"10")

Python10

## Multiplication operator
![Interpeter](multiplication.png)

In [122]:
print (10*20)

200

In [123]:
print (10*20.0)

200.0

In [124]:
print (10.0*20.0)

200.0

In [125]:
print ("python "*5)

python python python python python

In [126]:
print (5*"python ")

python python python python python

In [127]:
print ('5'*"python")

TypeError: can't multiply sequence by non-int of type 'str'

### Modulus operator %
Gives the reminder
![Interpeter](01_Division.gif)

In [128]:
print (4%4)

0

In [129]:
5%4

1

In [130]:
10%3

1

In [131]:
3%10   # if dividend is smaller than divisor than dividend will be reminder

3

In [132]:
3333%1000000

3333

In [133]:
print (33%10)

3

In [134]:
print (10%2)

0

### Power **

In [135]:
a=10
b=3
print (a**b)

1000

In [136]:
print (2**3)

8

#### Absolute function
returns absolute value of a number( convert to positive value)
abs(x)

In [137]:
print( abs (-10-30))
print (abs (-10000))
print (abs(10)) 
print (abs(-10+30))

40
10000
10
20

### Formatted Output
* %d for integer
* %s for strings
* %r for raw
* %f for float

In [138]:
print ("python" + " scala")

python scala

In [139]:
st="python"
st1="java"
s="   "

In [140]:
print (st + "    " +st1)

python    java

In [141]:
print (st + st1)

pythonjava

In [142]:
st="python"
print ("Directory changed successfully " +st + " to the home directory")

Directory changed successfully python to the home directory

In [144]:
st="python"
st1="java"
print ("Directory changed successfully %s" %st1)
print ("Directory changed successfully %s" %st)

Directory changed successfully java
Directory changed successfully python

In [145]:
print ("Directory changed successfully to %s" %"java python")

Directory changed successfully to java python

In [146]:
s="learning"
print ("%s" %"java python")
print ("%s" %s)

java python
learning

In [147]:
st="python"
st1="java"
print ("Directory %s changed successfully to %s  " %(st1,st))

Directory java changed successfully to python

In [148]:
print ("Directory changed %d successfully" %100)

Directory changed 100 successfully

In [149]:
st=100
st1="java"
print ("Directory %d changed successfully %s " %(st,st1))

Directory 100 changed successfully java

In [150]:
print ("Directory changed %f successfully" % 100.000000)

Directory changed 100.000000 successfully

In [151]:
a=10.6
b=20
c=200
print ("a is  %d and b is %d" %(a,b))
print ("a is  %f and b is %d" %(b,a))

a is  10 and b is 20
a is  20.000000 and b is 10

In [152]:
months = "\nJan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"
print ("Here are the months: %s" % months)

Here are the months:
Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [153]:
months = "\nJan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"
print ("Here are the months: %r" % months)

Here are the months: '\nJan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug'

In [154]:
import datetime
x = datetime.date.today()
print (x)
print ("Today's date is %s ..." % x)
print ("Today's date is %r ..." % x)

2019-12-15
Today's date is 2019-12-15 ...
Today's date is datetime.date(2019, 12, 15) ...

In [155]:
VAL = "A"
print("The ASCII value of '" + VAL + "' is", ord(VAL))

The ASCII value of 'A' is 65

In [156]:
val = "a"
print("The ASCII value of '" + val + "' is", ord(val))

The ASCII value of 'a' is 97

In [157]:
print (chr(65))
print (chr(97))

A
a

### Assignments
1. How a C program compiled
2. How to run a C program using command line
4. C program memory structure
5. How to swap 2 variables( apart from , and +/- operator)
6. How to run a Java program

In [ ]:
print('"'"vfvf"'"')

In [ ]:
print("hello")