### User INPUT

In [1]:
s="python"
print(s[::-1])

nohtyp

In [1]:
x=input()
print(x)

tyty
tyty

In [3]:
x=input("Enter data for input type for testing ")
print (type(x))
print (x)

Enter data for input type for testing uyu
<class 'str'>
uyu

In [9]:
x=input("Enter string for reverse ")
y=x[::-1]
print("string {}".format(y))
print ("Reverse of string is : ", x[::-1])

Enter string for reverse iuiuiu
string uiuiui
Reverse of string is :  uiuiui

In [7]:
print("How old are you")
age =input ()
print ("How tall are you")
height=input()
print ("How much do you weight")
weight=input()
print ("So you are %s years old, %s tall and weigh %s" %(age,height,weight))

How old are you
30
How tall are you
6
How much do you weight
60
So you are 30 years old, 6 tall and weigh 60

In [10]:
print("hello")
print("worlds")
print("python")

hello
worlds
python

In [ ]:
print("Hello, ", end=" \n")
print("world",end="\n")

In [11]:
print("Hello ", end=" abcd ")
print("world",end=" abc ")
print("python")

Hello  abcd world abc python

In [ ]:
# print("Hello, ", end="\n")
print("world")

In [12]:
print("Hello, ", end=" BREAK ")
# print("world", end=" python ")
print("world python")
print("Selenium")
print("Learning")

Hello,  BREAK world python
Selenium
Learning

### TYPE CASTING
Converting one data type to another data type

In [13]:
i=23    # '23'

In [14]:
j=str(i)#'23'
print (j)
print (type(j))

23
<class 'str'>

In [15]:
print (j[0])
print (j[1])

2
3

In [16]:
i=10.0
j=str(i)
print (type(j))
print (j)

<class 'str'>
10.0

In [17]:
print (j[0])
print (j[1])
print (j[2])
print (j[3])

1
0
.
0

In [18]:
a="h"
print (int(a))

ValueError: invalid literal for int() with base 10: 'h'

In [19]:
st="1000"

In [20]:
x=int(st)
print (x)

1000

In [21]:
s=100.6

In [22]:
int(s)

100

In [23]:
s="+"
int(s)

ValueError: invalid literal for int() with base 10: '+'

In [24]:
s=1000.0

In [25]:
int(s)

1000

In [26]:
int(.)

SyntaxError: invalid syntax (<ipython-input-26-3d92899f7998>, line 1)

In [27]:
i=1000
j=float(1000)
print(j)

1000.0

In [28]:
s="1000.0"
j=float(s)
print(j)

1000.0

In [29]:
s="1000.0"
j=int(s)
print(j)

ValueError: invalid literal for int() with base 10: '1000.0'

In [ ]:
str(5)

##### Taking multiple inputs

In [30]:
x,y= input("eneter value: ").split()
print(x)
print(y)

eneter value: python learning
python
learning

In [ ]:
l=[]
for i in range(2):
    l.append(input("enter value"))
print (l)

In [31]:
a,b,c=input("Please enter the age of 3 people in one line using commas\n").split()
print(a,b,c)

Please enter the age of 3 people in one line using commas
pythond data science
pythond data science

####