## Tuple
Immutable list
() is used 
A tuple is an immutable list of values. Tuples are one of Python's simplest and most common collection types, and
can be created with the comma operator (value = 1, 2, 3).

In [ ]:
l=list()#[]
t=tuple()#()

In [ ]:
data=(10,20,'ram',56.8,(10,20,30),[1,2,3])

In [ ]:
data

In [ ]:
type(data)

In [ ]:
len(data)

This process is called tuple packing because the objects being assigned are “packed” into a single immutable tuple object.

In [ ]:
x='a','mahesh',10.56

In [ ]:
type(x)

In [ ]:
t2='a',
# t2=tuple()
t2

### Tuples are immutable
One of the main differences between lists and tuples in Python is that tuples are immutable, that is, one cannot
add or modify items once the tuple is initialized. For example:

In [ ]:
tupl3=1,'mahesh',10.56,(10,20,30)

In [ ]:
tupl3[2]="python"
tupl3

In [33]:
tupl3=(1,'mahesh',10.56,[10,20,30])
tupl3[2]=5000
tupl3

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupl3=(1,'mahesh',10.56,[10,20,30])
tupl3[3][0]=100
tupl3

In [ ]:
x=tupl3[3].pop()

print(tupl3[3].pop())
print(x)

In [ ]:
print(tupl3[3].pop())

In [ ]:
tupl3=(1,'mahesh',10.56,[10,20,30])
tupl3[3]="abcf"
tupl3

In [ ]:
l=(1,230,0,"python")
l[3][0]="q"
# l[2]=10.0
l

In [ ]:
l=[1,2,3,"python"]
l[3]="Java"
l

In [ ]:
tuple1=(1,2,3,4)
tuple1.add(3)

In [ ]:
tuple1=(1,2,3,4)

tuple1[0]

In [ ]:
tuple1[0:2]

In [ ]:
tuple1=(1,2,3,4)
#         0 1 2 3
#     -4  -3  -2  -1   
    
tuple1[:-3:-1]

#       +
#---------------
# int   | int
# float |float
# int   |float
# float |int
# String|String
# tuple |tuple

In [ ]:
tuple2=(1,3,444,55)
tup=tuple2 +(2,)
print(tup)

In [ ]:
'python'*'java'

In [20]:
'python '*2

'python python '

In [21]:
tuple2=(1,3,444,55)

In [22]:
tuple2 * 2

(1, 3, 444, 55, 1, 3, 444, 55)

In [23]:
data=(10,20,'rahul',40.6,'z')
data1=data
del data
print (data)

NameError: name 'data' is not defined

In [24]:
print(data1)

(10, 20, 'rahul', 40.6, 'z')

In [25]:
data=(10,20,40.6)
min(data)

10

In [26]:
max(data)

40.6

In [27]:
data=(10,20,40.6,"a")

In [28]:
data=(10,20,40.6,"10")
min(data)

TypeError: '<' not supported between instances of 'str' and 'int'

In [29]:
# no<capital letter<small letter
data=("20","2","abcd")
# data=(10,2)
min(data)

'2'

In [ ]:
rev=data[::-1]
rev

In [30]:
list1=['a',1,100,233]
t=tuple(list1)
print (t)
print(type(t))

('a', 1, 100, 233)
<class 'tuple'>

In [31]:
lt=[]
lt=list(t)
print(type(lt))
print (list(t))

<class 'list'>
['a', 1, 100, 233]

In [32]:
len(t)

4

# Why use a tuple instead of a list?

Program execution is faster when manipulating a tuple than it is for the equivalent list. (This is probably not going to be noticeable when the list or tuple is small.)

Sometimes you don’t want data to be modified. If the values in the collection are meant to remain constant for the life of the program, using a tuple instead of a list guards against accidental modification.

There is another Python data type that you will encounter shortly called a dictionary, which requires as one of its components a value that is of an immutable type. A tuple can be used for this purpose, whereas a list can’t be.