## Tuple
Immutable list
() is used 
A tuple is an immutable list of values. Tuples are one of Python's simplest and most common collection types, and
can be created with the comma operator (value = 1, 2, 3).

In [ ]:
l=list()
t=tuple()

In [ ]:
data=(10,20,'ram',56.8,(10,20,30),[1,2,3])

In [ ]:
data

In [ ]:
type(data)

In [ ]:
len(data)

In [ ]:
x='a','mahesh',10.56

In [ ]:
type(x)

In [ ]:
tupl2='a',
print (type(tupl2))

In [ ]:
tupl2=('a',)

In [ ]:
s="python"
s[0]="q"
print (s)

### Tuples are immutable
One of the main differences between lists and tuples in Python is that tuples are immutable, that is, one cannot
add or modify items once the tuple is initialized. For example:

In [ ]:
tupl3=1,'mahesh',10.56,(10,20,30)

In [ ]:
tupl3[2]="python"
tupl3

In [ ]:
tupl3=(1,'mahesh',10.56,[10,20,30])
tupl3[2]=5000
tupl3

In [ ]:
tupl3[3]="abcf"
tupl3

In [ ]:
tupl3=(1,'mahesh',10.56,[10,20,30])
tupl3[3][0]=100
tupl3

In [ ]:
tupl3=(1,'mahesh',10.56,[10,20,30])
tupl3[3]="abcf"
tupl3

In [ ]:
tupl3=(1,'mahesh',10.56,[10,20,30])
tupl3[3][0]=100
tupl3

In [ ]:
l=[1,2,3,"python"]
l[3][0]="q"
l

In [ ]:
l=[1,2,3,"python"]
l[3]="Java"
l

In [ ]:
tuple1=(1,2,3,4)

In [ ]:
tuple1[0]

In [ ]:
tuple1[0:2]

In [ ]:
tuple1=(1,2,3,4)
tuple1[:-3:-1]

#       +
#---------------
# int   | int
# float |float
# int   |float
# float |int
# String|String
# tuple |tuple

In [ ]:
tuple2=(1,3,444,55)
tup=tuple2 +(2,)
tup

In [31]:
'python'*'java'

TypeError: can't multiply sequence by non-int of type 'str'

In [32]:
'python '*2

'python python '

In [33]:
tuple2=(1,3,444,55)

In [34]:
tuple2 * 2

(1, 3, 444, 55, 1, 3, 444, 55)

In [35]:
data=(10,20,'rahul',40.6,'z')
data1=data
del data
print (data)

NameError: name 'data' is not defined

In [36]:
print(data1)

(10, 20, 'rahul', 40.6, 'z')

In [37]:
data=(10,20,40.6)
min(data)

10

In [38]:
max(data)

40.6

In [ ]:
data=(10,20,40.6,"a")

In [39]:
data=(10,20,40.6,"abcd")
min(data)

TypeError: '<' not supported between instances of 'str' and 'int'

In [40]:
rev=data[::-1]
rev

('abcd', 40.6, 20, 10)

In [41]:
list1=['a',1,100,233]
t=tuple(list1)
print(type(t))
print (t)

<class 'tuple'>
('a', 1, 100, 233)

In [42]:
lt=[]
lt=list(t)
print(type(lt))
print (list(t))

<class 'list'>
['a', 1, 100, 233]