# SET

![Interpeter](08_Sets.jpg)

A set contains an unordered collection of unique and mutable objects.
The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics.
Sets never have sequence and no duplicates also

![Interpeter](08_Sets1.jpg)

In [ ]:
s="string"# '' or ""
l=list()#[]
t=tuple()# ()
s=set()# {}

In [71]:
cities ={"Frankfurt", "Basel","Freiburg"}

In [72]:
cities

{'Basel', 'Frankfurt', 'Freiburg'}

In [73]:
type(cities)

set

In [74]:
cities=set()
cities ={"Frankfurt", "Basel","Freiburg","Basel",1232}
cities

{1232, 'Basel', 'Frankfurt', 'Freiburg'}

In [75]:
cities.add("Strasbourg")
cities.add(100)
cities

{100, 1232, 'Basel', 'Frankfurt', 'Freiburg', 'Strasbourg'}

In [76]:
cities.add("bangalore")
cities

{100, 1232, 'Basel', 'Frankfurt', 'Freiburg', 'Strasbourg', 'bangalore'}

In [77]:
cities.add("bangalore")
cities

{100, 1232, 'Basel', 'Frankfurt', 'Freiburg', 'Strasbourg', 'bangalore'}

In [78]:
s={100, 'Basel', 'Strasbourg', 'bangalore'}
abc="Delhi"
s.add(abc)
s

{100, 'Basel', 'Delhi', 'Strasbourg', 'bangalore'}

In [79]:
s={100, 'Basel', 'Frankfurt', 'Freiburg', 'Strasbourg', 'bangalore'}
abc="delhi"
abx="delhi"
s.add(abc)
print(s)
s.add(abx)
print(s)

{'Basel', 100, 'Strasbourg', 'bangalore', 'delhi', 'Freiburg', 'Frankfurt'}
{'Basel', 100, 'Strasbourg', 'bangalore', 'delhi', 'Freiburg', 'Frankfurt'}

In [80]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
help(set)

In [81]:
cities = {"Stuttgart", "Konstanz", "Freiburg"}
cities.clear()
print(cities)
l=[123,5]
l.clear()
l

set()

[]

In [82]:
cities = {"Stuttgart", "Konstanz", "Freiburg"}
del cities
print(cities)

NameError: name 'cities' is not defined

# Question

Write a program to remove the duplicates of a list

In [83]:
l = [1,2,3,"python", 3, "python"]

In [84]:
s=set(l)

In [85]:
l=list(s)

In [86]:
l

[1, 2, 3, 'python']

### Copy of SET

In [87]:
more_cities = {"Winterthur","Schaffhausen","St. Gallen"}

In [88]:
cities_backup = more_cities.copy()
cities_backup

{'Schaffhausen', 'St. Gallen', 'Winterthur'}

In [89]:
more_cities is cities_backup

False

In [90]:
cities_backup == more_cities

True

### Another way to create a copy

In [91]:
city2=more_cities

In [92]:
more_cities is city2

True

In [93]:
city2 == more_cities

True

### Operations on SET

In [95]:
x = {"a","b","c","d","e"}
y = {"b","c","j"}
z = {"c","d"}

In [96]:
a=x-y
a

{'a', 'd', 'e'}

In [97]:
b=y-x
b

{'j'}

In [98]:
x.difference(y)# same as a=x-y

{'a', 'd', 'e'}

In [99]:
y.difference(x)# same as a=y-x

{'j'}

In [100]:
x.difference(y).difference(z)

{'a', 'e'}

In [ ]:
x-y-z

In [101]:
x

{'a', 'b', 'c', 'd', 'e'}

# Difference update

In [102]:
x = {"a","b","c","d","e"}
y = {"b","c","j"}

In [103]:
x.difference_update(y)  #x=x-y

In [104]:
x

{'a', 'd', 'e'}

In [105]:
y.difference_update(x)  #y=y-x

In [106]:
y

{'b', 'c', 'j'}

In [107]:
x=x-y
x

{'a', 'd', 'e'}

In [108]:
x = {"a","b","c","d","e"}
x.discard("a")

In [109]:
x

{'b', 'c', 'd', 'e'}

In [110]:
x.discard("z")

In [111]:
x

{'b', 'c', 'd', 'e'}

In [112]:
x = {"a","b","c","d","e"}
x.remove("a")

In [113]:
x

{'b', 'c', 'd', 'e'}

In [114]:
x.remove("z")

KeyError: 'z'

# Intersection
![Interpeter](intersection-in-python.jpg)

In [115]:
x = {"a","b","c","d","e"}
y = {"c","d","e","f","g"}

In [116]:
x.intersection(y)

{'c', 'd', 'e'}

In [117]:
x & y

{'c', 'd', 'e'}

# isdisjoint()

This method returns True if two sets have a null intersection.

In [118]:
x = {"a","b","c","d","e"}
a = {"a","b","c",}
y = {"c","d","e","f","g"}
z={1,2,3}

In [119]:
a.isdisjoint(x)

False

In [120]:
z.isdisjoint(y)

True

# Union

![Interpeter](05_set_union_b.png)

In [121]:
x = {"a","b","c","d","e"}
y = {"c","d","f","a"}

In [122]:
x|y

{'a', 'b', 'c', 'd', 'e', 'f'}

In [123]:
x.union(y)

{'a', 'b', 'c', 'd', 'e', 'f'}

### issubset()

x.issubset(y) returns True, if x is a subset of y. "<=" is an abbreviation for "Subset of"	and ">=" for "superset of" 
"<" is used to check if a set is a proper subset of a set.

In [124]:
x = {"a","b","c","d","e"}
y = {"c","d"}
z = {"c","d","f"}

In [125]:
x.issubset(y)

False

In [126]:
 y.issubset(x)

True

In [127]:
x < y

False

In [128]:
y < x # y is a proper subset of x

True

In [129]:
x < x # a set can never be a proper subset of oneself.

False

In [130]:
x <= x

True

# issuperset()

x.issuperset(y) returns True, if x is a superset of y. ">=" is an abbreviation for "issuperset of"
">" is used to check if a set is a proper superset of a set.

In [131]:
x = {"a","b","c"}
y = {"c","b","a","d"}

In [132]:
x.issuperset(y)

False

In [133]:
y.issuperset(x)

True

# Symmetric difference  (a-b union b-a) A^B

In [134]:
A={1, 2, 3, 4, 5, 6, 7, 8}
B = {1, 3, 5, 6, 7, 8, 9}

In [135]:
A-B

{2, 4}

In [136]:
B-A

{9}

In [137]:
(A-B) | (B-A)

{2, 4, 9}

In [138]:
A^B

{2, 4, 9}

# The latter operations have equivalent operators as shown below:
  Method                         Operator
<number>     a.intersection(b)                a & b<br>
<number> a.union(b)                         a|b
<number>a.difference(b)                 a - b
<number>a.symmetric_difference(b)          a ^ b  <br>
<number>a.issubset(b)                   a <= b
<number>a.issuperset(b)                 a >= b

# Frozen Sets

Frozen sets are immutable objects
that only support methods and operators that produce a result without 
afecting the frozen set or sets to which they are applied.

In [139]:
frozen_set = frozenset(["e", "f", "g"])
frozen_set.add("d")

AttributeError: 'frozenset' object has no attribute 'add'

# Assignment:
* What is frozenset , difference between sets and frozenset
* Remove duplicate values of a list a=[1,2,3,4,1,2,3,10]
* What is the output when the following code is run by Python? For sets, do not worry about getting the exact order of the output correct.
 s1 = set( [7,9, 12, 7, 9] )
 s2 = set( ['abc', 12, 'b', 'car', 7, 10, 12 ])
 s3 = set( [12, 14, 12, 'ab'] )
 * print s1 & s2
 * print s1 | s2
 * print 'b' in s2
 * print 'ab' in s2
 * print 'ab' in s3
 * s2.discard(12)
 * print (s1 & s2) ^ s3

* Given three sets, s1, s2, and s3, write a short segment of Python code to nd the values that are in exactly one of the three sets. The result should be stored in a set called s. You may NOT use any loops.
#
#
#

In [ ]:
x=input()
count=0
v=("a","e","i","o","u")
for i in x:
    if i in v:
        count=count+1
        print(count)

Python Program to Count the Number of Vowels Present in a String using Sets

In [ ]:
x=input()
count=0
v=("a","e","i","o","u")
for i in x:
    if i in v:
        count=count+1
print("No of vowers in the string is ", count)

#### Take 2 stirngs as input and find out common characters between strings

In [ ]:
x="python"
y="pyt"
set(x)&set(y)

In [ ]:
set(x)

#### Program to Check Common Letters in Two Input Strings

#### Task 
Given  sets of integers,  and , print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either  or  but do not exist in both.

#### Input Format

The first line of input contains an integer, . 
The second line contains  space-separated integers. 
The third line contains an integer, . 
The fourth line contains  space-separated integers.

#### Output Format

Output the symmetric difference integers in ascending order, one per line.

Sample Input

4
2 4 5 9
4
2 4 11 12

Sample Output

5
9
11
12

In [ ]:
x= input()
x.split(" ")

In [ ]:
l=['333','2232','1232']
l.sort()
l

In [ ]:
for i in range(len(l)):
    l[i]=int(l[i])
print (l)
listC = sorted(l, reverse=False)
print (listC)