### MySQL
MySQL Workbench browser can be used for the mysql database

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root123"
)

# print(mydb)#
mycursor = mydb.cursor()
help(mycursor)
mycursor.execute("CREATE DATABASE mydatabase2")

Help on CMySQLCursor in module mysql.connector.cursor_cext object:

class CMySQLCursor(mysql.connector.abstracts.MySQLCursorAbstract)
 |  CMySQLCursor(connection)
 |
 |  Default cursor for interacting with MySQL using C Extension
 |
 |  Method resolution order:
 |      CMySQLCursor
 |      mysql.connector.abstracts.MySQLCursorAbstract
 |      mysql.connector.abstracts.MySQLCursorAbstract
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, connection)
 |      Initialize
 |
 |  __iter__(self)
 |      Iteration over the result set
 |
 |      Iteration over the result set which calls self.fetchone()
 |      and returns the next row.
 |
 |  __next__(self)
 |      Iteration over the result set
 |      Used for iterating over the result set. Calls self.fetchone()
 |      to get the next row.
 |
 |      Raises StopIteration when no more rows are available.
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  callproc(self, procname, args=())
 |      Calls a stored procedure with the given arguments
 |
 |  close(self)
 |      Close the cursor
 |
 |      The result will be freed.
 |
 |  execute(self, operation, params=(), multi=False)
 |      Execute given statement using given parameters
 |
 |      Deprecated: The multi argument is not needed and nextset() should
 |      be used to handle multiple result sets.
 |
 |  executemany(self, operation, seq_params)
 |      Execute the given operation multiple times
 |
 |  fetchall(self)
 |      Returns all rows of a query result set
 |
 |      Returns a list of tuples.
 |
 |  fetchmany(self, size=1)
 |      Returns the next set of rows of a result set
 |
 |  fetchone(self)
 |      Returns next row of a query result set
 |
 |  nextset(self)
 |      Skip to the next available result set
 |
 |  reset(self, free=True)
 |      Reset the cursor
 |
 |      When free is True (default) the result will be freed.
 |
 |  stored_results(self)
 |      Returns an iterator for stored results
 |
 |      This method returns an iterator over results which are stored when
 |      callproc() is called. The iterator will provide MySQLCursorBuffered
 |      instances.
 |
 |      Returns a iterator.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  column_names
 |      Returns column names
 |
 |      This property returns the columns names as a tuple.
 |
 |      Returns a tuple.
 |
 |  description
 |      Returns description of columns in a result
 |
 |  lastrowid
 |      Returns the value generated for an AUTO_INCREMENT column
 |
 |  rowcount
 |      Returns the number of rows produced or affected
 |
 |  statement
 |      Returns the executed statement
 |
 |      This property returns the executed statement. When multiple
 |      statements were executed, the current statement in the iterator
 |      will be returned.
 |
 |  with_rows
 |      Returns whether the cursor could have rows returned
 |
 |      This property returns True when column descriptions are available
 |      and possibly also rows, which will need to be fetched.
 |
 |      Returns True or False.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from mysql.connector.abstracts.MySQLCursorAbstract:
 |
 |  fetchwarnings(self)
 |      Returns Warnings.
 |
 |  setinputsizes(self, sizes)
 |      Not Implemented.
 |
 |  setoutputsize(self, size, column=None)
 |      Not Implemented.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from mysql.connector.abstracts.MySQLCursorAbstract:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

DatabaseError: 1007 (HY000): Can't create database 'mydatabase2'; database exists

In [3]:
# You can check if a database exist by listing all databases in your system by using the "SHOW DATABASES" statement:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
   user="root",
  passwd="root123"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mydatabase2',)
('mydatabase3',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [3]:
# # you can try to access the database when making the connection:
#
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root123",
  database="mydatabase"
)

In [5]:
#Create a table named "customers":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root123",
  database="mydatabase2"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root123",
  database="mydatabase2"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root123",
  database="mydatabase2"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers1 (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [8]:
# If the table already exists, use the ALTER TABLE keyword:
# 
# Example
# Create primary key on an existing table:


import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root123",
  database="mydatabase2"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [9]:
# Insert Into Table
# To fill a table in MySQL, use the "INSERT INTO" statement.

# Example
# Insert a record in the "customers" table:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root123",
  database="mydatabase2"
)
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()
# Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

print(mycursor.rowcount, "record inserted.")

1 record inserted.

Insert Multiple Rows
To insert multiple rows into a table, use the executemany() method.

The second parameter of the executemany() method is a list of tuples, containing the data you want to insert:

Example
Fill the "customers" table with data:

In [10]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root123",
  database="mydatabase2"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

Select From a Table
To select from a table in MySQL, use the "SELECT" statement:

Example
Select all records from the "customers" table, and display the result:

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root123",
  database="mydatabase2"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)

Selecting Columns
To select only some of the columns in a table, use the "SELECT" statement followed by the column name(s):

Example
Select only the name and address columns:

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root123",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')

Using the fetchone() Method
If you are only interested in one row, you can use the fetchone() method.

The fetchone() method will return the first row of the result:

Example
Fetch only one row:

In [18]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root123",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

('John', 'Highway 21', 1)

Delete Record
You can delete records from an existing table by using the "DELETE FROM" statement:

Example
Delete any record where the address is "Mountain 21":

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root123",
  database="mydatabase2"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

Delete a Table
You can delete an existing table by using the "DROP TABLE" statement:

Example
Delete the table "customers":

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root123",
  database="mydatabase2"
)

mycursor = mydb.cursor()

sql = "DROP TABLE customers"

mycursor.execute(sql)

In [24]:
# Update Table
# You can update existing records in a table by using the "UPDATE" statement:

# Example
# Overwrite the address column from "Valley 345" to "Canyoun 123":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root123",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "UPDATE customers1 SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

0 record(s) affected

### SQLITE
SQLite is a relational database management system contained in a C library. In contrast to many other database management systems, SQLite is not a client–server database engine

In [6]:
import sqlite3
print (dir(sqlite3))

['Binary', 'Cache', 'Connection', 'Cursor', 'DataError', 'DatabaseError', 'Date', 'DateFromTicks', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'OptimizedUnicode', 'PARSE_COLNAMES', 'PARSE_DECLTYPES', 'PrepareProtocol', 'ProgrammingError', 'Row', 'SQLITE_ALTER_TABLE', 'SQLITE_ANALYZE', 'SQLITE_ATTACH', 'SQLITE_CREATE_INDEX', 'SQLITE_CREATE_TABLE', 'SQLITE_CREATE_TEMP_INDEX', 'SQLITE_CREATE_TEMP_TABLE', 'SQLITE_CREATE_TEMP_TRIGGER', 'SQLITE_CREATE_TEMP_VIEW', 'SQLITE_CREATE_TRIGGER', 'SQLITE_CREATE_VIEW', 'SQLITE_CREATE_VTABLE', 'SQLITE_DELETE', 'SQLITE_DENY', 'SQLITE_DETACH', 'SQLITE_DONE', 'SQLITE_DROP_INDEX', 'SQLITE_DROP_TABLE', 'SQLITE_DROP_TEMP_INDEX', 'SQLITE_DROP_TEMP_TABLE', 'SQLITE_DROP_TEMP_TRIGGER', 'SQLITE_DROP_TEMP_VIEW', 'SQLITE_DROP_TRIGGER', 'SQLITE_DROP_VIEW', 'SQLITE_DROP_VTABLE', 'SQLITE_FUNCTION', 'SQLITE_IGNORE', 'SQLITE_INSERT', 'SQLITE_OK', 'SQLITE_PRAGMA', 'SQLITE_READ', 'SQLITE_RECURSIVE', 'SQLITE_REINDEX', 'SQLITE_SAVEPOINT', 'SQLITE_SELECT', 'SQLITE_TRANSACTION', 'SQLITE_UPDATE', 'Statement', 'Time', 'TimeFromTicks', 'Timestamp', 'TimestampFromTicks', 'Warning', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'adapt', 'adapters', 'apilevel', 'collections', 'complete_statement', 'connect', 'converters', 'datetime', 'dbapi2', 'enable_callback_tracebacks', 'enable_shared_cache', 'paramstyle', 'register_adapter', 'register_converter', 'sqlite_version', 'sqlite_version_info', 'threadsafety', 'time', 'version', 'version_info']

In [8]:
import sqlite3
conn = sqlite3.connect('test.db')
print ("Opened database successfully")
print (type(conn))
print (dir(conn))

conn.close()

Opened database successfully
<class 'sqlite3.Connection'>
['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'backup', 'close', 'commit', 'create_aggregate', 'create_collation', 'create_function', 'cursor', 'enable_load_extension', 'execute', 'executemany', 'executescript', 'in_transaction', 'interrupt', 'isolation_level', 'iterdump', 'load_extension', 'rollback', 'row_factory', 'set_authorizer', 'set_progress_handler', 'set_trace_callback', 'text_factory', 'total_changes']

In [9]:
import sqlite3
conn = sqlite3.connect('test.db')
conn.execute('''CREATE TABLE COMPANY0022
            (ID INT PRIMARY KEY     NOT NULL,
            NAME           TEXT    NOT NULL,
            AGE            INT     NOT NULL,
            ADDRESS        CHAR(50),
            SALARY         REAL);''')


conn.execute("CREATE TABLE COMPANY56\
         (ID INT PRIMARY KEY     NOT NULL,\
         NAME           TEXT    NOT NULL,\
         AGE            INT     NOT NULL,\
         ADDRESS        CHAR(50),\
         SALARY         REAL)");


print ("Table created successfully")
conn.execute("INSERT INTO COMPANY0022 (ID,NAME,AGE,ADDRESS,SALARY) \
       VALUES (1, 'Paul', 32, 'California', 20000.00 )");
conn.close()

Table created successfully

The DB-API spec requires that connecting to the database begins a new transaction, by default. 
You must commit to confirm any changes you make, or rollback to discard them.

In [10]:
 import sqlite3

conn = sqlite3.connect('test.db',)
print ("Opened database successfully")
conn.execute("INSERT INTO COMPANY56 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (14, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY56 (ID,NAME,AGE,ADDRESS,SALARY) \
     VALUES (5, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY56 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (6, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY56 (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (7, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
# print "Records created successfully";
conn.close()

Opened database successfully

In [11]:
import sqlite3

conn = sqlite3.connect('my_database1.db')
print ("Opened database successfully")

cursor = conn.execute("SELECT id, name, address, salary from COMPANY56")
# # print type(cursor)
for a in cursor:
   print (a)
   print ("ID = ", a[0])
   print ("NAME = ", a[1])
   print ("ADDRESS = ", a[2])
   print ("SALARY = ", a[3], "\n")

print ("Operation done successfully")
conn.close()

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Opened database successfully")? (<ipython-input-11-3d08658d3468>, line 4)

### Oracle database

In [ ]:
# sudo apt-get install cx_Oracle
# pip install cx_Oracle
import cx_Oracle
# print dir(cx_Oracle)
# ip = '192.168.0.1'
# port = 1521
# SID = 'YOURSIDHERE'
# dsn_tns = cx_Oracle.makedsn(ip, port, SID)
# db = cx_Oracle.connect('username', 'password', dsn_tns)
# connstr = 'usrname/password@server_IP:1521/orcl'

# con = cx_Oracle.connect('pythonhol/welcome@127.0.0.1/orcl')
# print con.version
# con.close()

In [6]:
import turtle
import datetime
import time
def draw_square(some_turtle):
    for i in range(1,5):
        some_turtle.forward(100)
        some_turtle.right(90)
def draw_art():
    window=turtle.Screen()
    window.bgcolor("red")
    # create the turtle Brad - draw a square
    brad= turtle.Turtle()
    brad.shape("turtle")
    brad.color("yellow")
    brad.speed(2)
    # for i in range(1,5):
    for i in range(1,36):
        draw_square(brad)
        brad.right(10)
        
#     Create the turtle again for circle
#     comment below for the main program
#     angi=turtle.Turtle()
#     angi.shape("arrow")
#     angi.color("blue")
#     angi.circle(100)
    window.exitonclick()
draw_art()


# turtle.penup
# turtle.goto(0,50)